<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
            TITLE_BLOCK_DEFAULT
            {% endblock %}
        </title>
        {% block scripts %}

        {% endblock %}
    </head>
    <body>
        <div style="background-image: url({% static 'images/background.jpg' %}); background-repeat:no-repeat: background-size:100%">
        <div id="content" style="word-wrap: break-all">
            {% block content %}
            <p> CONTENT_BLOCK_DEFAULT <p>
            {% endblock %}
        </div>

        <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
        <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>